@font-face {
  font-family: space_age;
  src: url("img/space_age.otf");
}

@font-face {
  font-family: radiospace;
  src: url("img/radiospace.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: radiospace;
}

.template {
  display: none;
}

.gamearea {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
/* background-image: url(img/background.jpg);*/
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.spaceobject {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.flame {
  opacity: 1;
  position: absolute;
  width: 0;
  left: 0;
  margin-left: 0;
  top: 1px;
  transition-property: width, margin-left, opacity;
  transition-duration: 0.2s;
}

.flame img {
  width: 100%;
  margin-left: -100%;
  margin-right: 100%;
}

.spaceship .flame {
  top: -7px;
}

.spaceship.enginerunning .flame {
  width: 100px;
  opacity: 0.5;
}

.missile.enginerunning .flame {
  width: 50px;
  opacity: 0.5;
}

.spaceship {
  z-index: 1000;
}

.detonation {
  z-index: 20000;
  opacity: 1;
  width: 0;
  height: 0;
}

.detonation img {
  width: 100%;
  height: 100%;
}

.detonated.detonation {
  opacity: 0;
  width: 600px;
  height: 600px;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
}

#copyrightnotice {
  position: fixed;
  bottom: 0;
  right: 0;
}

#copyrightnotice a {
  color: dimgray;
}

#controlhint {
  color: dimgray;
  position: fixed;
  bottom: 18px;
  right: 0;
}

.touchcontrol {
  font-size: 30px;
  color: ivory;
}

.touchcontrol > * {
  position: fixed;
  background-color: aquamarine;
  opacity: 0.3;
  width: 100px;
  height: 60px;
  padding: 10px;
  z-index: 40000;
}

.leftcontrol {
  bottom: 150px;
  left: 40px;
}

.rightcontrol {
  bottom: 150px;
  right: 40px;
}

.firecontrol {
  bottom: 250px;
  left: 20px
}

.enginecontrol {
  bottom: 250px;
  right: 20px;
}

.outlinecontrol {
  bottom: 0px;
  left: 0px;
  height: 25px;
  width: 80px;
  font-size: 22px;
}

.debug {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 140px;
  overflow: hidden;
  color: white;
  pointer-events: none;
}

.debug > label {
  width: 90px;
  margin-right: 10px;
  float: left;
  text-align: right;
}

.debug > .warning {
  color: red;
}

.sceneselector {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
}

.sceneselector ul {
  list-style-type: none;
  font-size: 25px;
  font-family: space_age;
  transform: scale3d(1, 1.5, 1);
}

.sceneselector h1 {
  text-align: center;
}