@font-face {
  font-family: space_age;
  src: url("img/space_age.otf");
}

@font-face {
  font-family: radiospace;
  src: url("img/radiospace.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: radiospace;
}

.template {
  display: none;
}

.gamearea {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#copyrightnotice {
  position: fixed;
  bottom: 0;
  right: 0;
}

#copyrightnotice a {
  color: dimgray;
}

#controlhint {
  color: dimgray;
  position: fixed;
  bottom: 18px;
  right: 0;
}

.touchcontrol {
  font-size: 30px;
  color: ivory;
}

.touchcontrol > * {
  position: fixed;
  background-color: aquamarine;
  opacity: 0.3;
  width: 12%;
  min-width: 100px;
  height: 10%;
  padding: 10px;
  z-index: 40000;
}

.leftcontrol {
  bottom: 15%;
  left: 10%;
}

.rightcontrol {
  bottom: 15%;
  right: 10%;
}

.firecontrol {
  bottom: 35%;
  left: 5%;
}

.enginecontrol {
  bottom: 35%;
  right: 5%;
}

.outlinecontrol {
  bottom: 0px;
  left: 0px;
  height: 25px;
  width: 80px;
  font-size: 22px;
}

.debug {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 140px;
  overflow: hidden;
  color: white;
  pointer-events: none;
}

.debug > label {
  width: 90px;
  margin-right: 10px;
  float: left;
  text-align: right;
}

.debug > .warning {
  color: red;
}

.popup {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
  z-index: 10000;
  padding: 6px;
}

.sceneselector {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}

.sceneselector ul {
  list-style-type: none;
  font-size: 25px;
  font-family: space_age;
  transform: scale3d(1, 1.5, 1);
}

.sceneselector h1 {
  text-align: center;
}

li {
  list-style: none;
}